<extend name="Public/base"/>

<block name="body">
	<script type="text/javascript" src="/Public/static/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title">
		<h2>
			{$info['id']?'编辑':'添加'}租售

		</h2>
	</div>
	<form action="{:U()}" method="post" class="form-horizontal">
		<input type="hidden" name="pid" value="{$pid}">
		<div class="form-item">
			<label class="item-label">标题<span class="check-tips"></span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="title" value="{$info.title|default=''}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">发起人<span class="check-tips"></span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="username" value="{$info.username|default=''}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">价格<span class="check-tips"></span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="price" >&nbsp;
				单位：
				<select style="width: 200px;" name="price_status" value="{$info.price_status}">
					<option value="1" <eq name="info.price_status" value="1" >selected</eq>>元/月</option>
					<option value="2" <eq name="info.price_status" value="2" >selected</eq>>万元</option>
				</select>

			</div>
		</div>
        <div class="form-item">
            <label class="item-label">类型<span class="check-tips"></span></label>
            <div class="controls">
				<select style="width: 200px;" name="type">
					<option value="1" <eq name="info.type" value="1" >selected</eq>>出租</option>
					<option value="2" <eq name="info.type" value="2" >selected</eq>>销售</option>
				</select>

			</div>
        </div>
		<div class="controls" id="parent">
			<input type="file" id="upload_picture_path">
			<input type="hidden" name="logo" id="cover_id_path" value="{$info.logo|default=''}"/>
			<div class="upload-img-box">
			</div>
		</div>
		<script type="text/javascript">
            //上传图片
			/* 初始化上传插件 */
            $("#upload_picture_path").uploadify({
                "height": 30,
                "swf": "/Public/static/uploadify/uploadify.swf",
                "fileObjName": "download",
                "buttonText": "上传图片",
                "uploader": "/admin.php/file/uploadpicture/session_id/074fsmbf2fahqppveb3t5cg6o1.html",
                "width": 120,
                'removeTimeout': 1,
                'fileTypeExts': '*.jpg; *.png; *.gif;',
                "onUploadSuccess": uploadPicturepath,
                'onFallback': function () {
                    alert('未检测到兼容版本的Flash.');
                }
            });
            //将图片回显
            $(function () {
                var html='<div class="upload-pre-item"><img src="{$info.logo}"/></div>';
                $("#cover_id_path").parent().find('.upload-img-box').html(html);
            })

            function uploadPicturepath(file, data) {
                var data = $.parseJSON(data);
                var src = '';
                if (data.status) {
                    $("#cover_id_path").val(data.path);
                    src = data.url || '' + data.path
                    $("#cover_id_path").parent().find('.upload-img-box').html(
                        '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                    );
                } else {
                    updateAlert(data.info);
                    setTimeout(function () {
                        $('#top-alert').find('button').click();
                        $(that).removeClass('disabled').prop('disabled', false);
                    }, 1500);
                }
            }
		</script>
		<label class="item-label">内容<span class="check-tips"></span></label>
		<div class="controls">
			<label class="textarea">
				<textarea name="content"value="{$info.content|default=''}">{$info.content|default=''}</textarea>
				<input type="hidden" name="parse" value="0">
				<link rel="stylesheet" href="/Public/static/kindeditor/default/default.css" />
				<script charset="utf-8" src="/Public/static/kindeditor/kindeditor-min.js"></script>
				<script charset="utf-8" src="/Public/static/kindeditor/zh_CN.js"></script>
				<script type="text/javascript">
                    var editor_content;
                    KindEditor.ready(function(K) {
                        editor_content = K.create('textarea[name="content"]', {
                            allowFileManager : false,
                            themesPath: K.basePath,
                            width: '100%',
                            height: '500px',
                            resizeType: 1,
                            pasteType : 2,
                            urlType : 'absolute',
                            fileManagerJson : '/admin.php/Sale/fileManagerJson.html',
                            //uploadJson : '/admin.php/Sale/uploadJson.html' }
                            uploadJson : '/admin.php/Addons/execute/_addons/EditorForAdmin/_controller/Upload/_action/ke_upimg.html',
                            extraFileUploadParams: {
                                session_id : '21kirh6mm9q677elg6g0qmblo4'
                            }
                        });
                    });

                    $(function(){
                        //传统表单提交同步
                        $('textarea[name="content"]').closest('form').submit(function(){
                            editor_content.sync();
                        });
                        //ajax提交之前同步
                        $('button[type="submit"],#submit,.ajax-post,#autoSave').click(function(){
                            editor_content.sync();
                        });
                    })
				</script>

			</label>
		</div>
		<label class="item-label">简单描述</label>
		<div class="controls">
			<label class="textarea">
				<textarea name="description">{$info.description|default=''}</textarea>
			</label>
		</div>
		<div class="form-item cf">
			<label class="item-label">截止日期：</label>
			<div class="controls">
				<input type="date" class="text time" name="end_time" value="{$info.end_time}"></div>
		</div>
		<div class="form-item cf">
			<label class="item-label">联系人电话</label>
			<div class="controls">
				<input type="text" class="text input-large" name="tel" value="{$info.tel|default=''}"></div>
		</div>

		<div class="form-item">
			<input type="hidden" name="id" value="{$info.id|default=''}">
			<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
	//导航高亮
	highlight_subnav('{:U('index')}');
</script>
</block>
